/*DRAW*/
.form-range
{
    width: 180px !important;
}
.card-body {
    background-color: whitesmoke;
}
#range-num {
    font-weight: bold;
    font-size: 2rem;
}
.card {
    width: 532px;
}
/*MATH*/
math-field {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    background-color: #fff;
}
/*MAIN*/
footer {
    position: relative !important;
    padding: 10px;
    bottom: 0;
    width: 100%;
    min-height: 5vh;
    text-align: center;
    color: white;
}
header {
    text-align: center;
    min-height: 5vh;
}
.center {
    position: flex;
    align-items: center;
    justify-content: center;
}
.other-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.intro {
    font-size:x-large;
    font-weight: bolder;
}
body {
    background-image: url("../img/18410.jpg");
    background-repeat: repeat;
}
.title {
    color: white;
    font-size: xx-large;
    font-weight: bold;
}
.page-content{
    position: relative;
    min-height: 87.8vh;
}